NEXT_PUBLIC_SUPABASE_URL=https://cogflfbppbhzvuazdoms.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvZ2ZsZmJwcGJoenZ1YXpkb21zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ4MTk4OTIsImV4cCI6MjA4MDM5NTg5Mn0.d30-orp-w78eNrdPRJFTWVzVhbaffniwJAPmzDqL0XUeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvZ2ZsZmJwcGJoenZ1YXpkb21zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ4MTk4OTIsImV4cCI6MjA4MDM5NTg5Mn0.d30-orp-w78eNrdPRJFTWVzVhbaffniwJAPmzDqL0XU
